@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --body-bg-based-on-theme: rgb(243, 235, 235);
}

html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
   background: var(--body-bg-based-on-theme);
}

@media (prefers-color-scheme: dark) {
   :root {
      --body-bg-based-on-theme: rgb(15 23 42);
   }
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}
